<h1><%= @post.title %></h1>
<p><%= @post.body %></p>
<hr>
<hr>
<h2>All comments </h2>
<%  @post.comments.each do |comment| %>
<div class="alert alert-light">
  <p><<strong><%= comment.username %></strong>: <%= comment.body %></p>
  

</div>
<br>
<% end %>

<hr>
<%= link_to "Edit", edit_post_path(@post), :class =>'btn btn-warning' %>
<%= link_to "Delete", post_path(@post),method: :delete, data:{confirm: "Do you want to  delete article?"}, :class =>'btn btn-danger' %>
<hr>
<h2> Add comments</h2>
<%= form_for ([@post, @post.comments.build]) do |f| %>

<p>
  User <br>
  <%= f.text_field(:username, {:class =>'form-control'}) %>
</p>
<p>
  Text of coment <br>
  <%= f.text_area(:body, {:class =>'form-control'}) %>
</p>
<p>

  <%= f.submit("Add coment",{:class =>'btn btn-warning'}) %>
</p>
<% end %>
